
/*INTRUÇÕES GERAIS*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background-color: white;
}

:root{
  --white-color: #ffffff;
  --orange-marinemos-color: #BA6F4D;/*antigo marrom-color*/
  --orange-dark-color: #8E412E;
  --green-light-color: #A2A182;
  --green-dark-color: #687259;
  --bege-color: #FFEBDC;


  font-size: 62.5%; /*1rem = 10px */
}


/*LEMBRE QUE EXISTE UM FONT-FACE
@font-face {
  font-family: sunFlower;
  src: url(tipografia/sunFlower/Sunflower.otf);
}

@font-face {
  font-family: milk;
  src: url(tipografia/lemonMilk/LEMONMILK-Regular.otf);
}*/

a{
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h2{
  font-family: 'Ubuntu', sans-serif;
}
p{
  text-indent: 4rem;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
}
  /*CONFIGURAÇÕES DO CABEÇALHO*/

  .logoinfo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: red;
  }

  .cabecalho{
    margin-top: 30px;
    
  }
  .logoimagem{
    
    margin-left: 30px;
    
  }

  /*Sessão navegação*/
  .nav-link{
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 30px;
  }


  /*SESSÃO BANNER index*/
  /*tamanho original do banner: 1716x850, vamos dividir por 2 425x858*/
  .banner{
    margin-top: 30px;
    height: 42.5rem;
    width: 85.8rem;   
    margin-bottom: 30px;
  }


  /*FAIXA DIVISÓRIA index*/
.faixadivisoria{
  margin-top: 30px;
  height: 30px;
  width: auto;
  background-color: rgba(243, 91, 243, 0.87);
}


/*sessão identidade index*/
.sessaoidentidade{
  margin-top: 30px;
  
}
.card-text{
  font-size: 1.8rem;
}

/*sessão rodapé*/
.rodape{
  margin-top: 6rem;
  background-image: url("imagens/rainbow.jpg");
  height: 30rem;
}
.espacorodape{
  margin-top: 6rem;
}

.linksrodape a{
 text-decoration: none;
 color: rgb(104, 102, 102);
 font-size: 1.5rem;
 margin-top: 5px;
}

.titulorodape{
  margin-left:2rem;
}
ul{
  list-style-type: none;
}
.uldorodape {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.lidorodape {
  float: left;
}

.lidorodape a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.lidorodape a:hover {
  background-color: #fafafa;
}
/*FIM DO INDEX*/



/*PÁGINA  SOBRE NOS*/

.sessaobandeira{
  margin-top: 30px;
  background-image: url("imagens/fundoroxo.png");
}

.bandeiralbgt{
  /*Tamanho original da imagem 988x968px divido por 2 x48,4 */
  width: 49.4rem;
  height: 48.4rem;
  /*Para telas menores, faça a bandeira desaparecer*/
}

.descricaobandeira{
  font-weight: 900;
  
}
.textobandeira{
  margin-top: 50px;
  margin-right: 3rem;
  font-size: 1.8rem;
}



/*PÁGINA  INSPIRACAO*/
.espacoinspiracao{
  margin-bottom: 50px; 

}

.textoinspiracao{
  margin-top: 50px; 
  margin-bottom: 50px;
}

.paragrafoinspiracao{
  font-size: 1.8rem;
  width: 69rem;
}


.cardinspiracao{
  border-width: 5px;
  border-color: red green blue yellow; 
}



/*PÁGINA SAÚDE*/

.textosaude{
  font-size: 1.8rem;
  margin-top: 8rem;
}

#menusaude{
  margin-top: 10rem;
  margin-bottom: 15rem;
}

#menusaude h2{
  font-size: 2.9rem;
}

#menusaude ul{
  list-style-type: disc;
  font-size: 1.9rem;
}

.saudetexto h2{
  font-size: 2.1rem;
}

.saudetexto{
  font-size: 1.7rem;
  margin-bottom: 4rem;
}


#centrosacolhimento{
  margin-top: 15rem;
  margin-bottom: 5rem;
}


