
/*INTRUÇÕES GERAIS*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background-color: #a52a2a;
}

:root{
  --white-color: #ffffff;
  --orange-color: orange;/*antigo marrom-color*/
  --yellow-color: yellow;
  --green-color: rgb(14, 202, 14);
  --blue-light-color: rgb(0, 217, 255);
  --blue-color: blue;
  --purple-color: rgba(243, 91, 243, 0.87);

  font-size: 62.5%; /*1rem = 10px */
}

/*Backgrounds cores*/
.backbranco{
  background-color:var(--white-color);
}
.backlaranja{
  background-color:var(--orange-color);
}
.backmarelo{
  background-color:var(--yellow-color);
}
.backverde{
  background-color:var(--green-color);
}
.backazullight{
  background-color:var(--blue-light-color);
}
.backazul{
  background-color:var(--blue-color);
}
.backpurple{
  background-color:var(--purple-color);
}
/*LEMBRE QUE EXISTE UM FONT-FACE*/


a{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
}
h1, h2, h3, h4{
  font-family: 'Ubuntu', sans-serif;
  
}
h1{
  font-size: 2.7rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2.3rem;
}
p{
  font-size: 1.8rem;
  text-indent: 4rem;
  text-align: justify;
  font-family:  'Ubuntu', sans-serif;
}
li{
  font-family: 'Ubuntu', sans-serif;
}
.nav-link{
  font-size: 1.6rem;
}

.container{
  border-radius: 15px;
}

.card-img-top{
  border-radius: 15px;
}
  /*CONFIGURAÇÕES DO CABEÇALHO*/

  .logoinfo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: red;
  }

  .cabecalho{
    margin-top: 30px;
    
  }
  .logoimagem{
    
    margin-left: 30px;
    
  }

  /*Sessão navegação*/
  .nav-link{
    font-weight: bold;
    margin-right: 30px;
  }


  /*SESSÃO BANNER index*/
  /*tamanho original do banner: 1716x850, vamos dividir por 2 425x858*/
  .banner{
    margin-top: 30px;
    height: 42.5rem;
    width: 85.8rem;   
    margin-bottom: 30px;
  }
  .textobanner{
    margin-top: 8rem;
    margin-bottom: 8rem;}


  /*FAIXA DIVISÓRIA index*/
.faixadivisoria{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 30px;
  width: auto;
  background-color:var(--white-color);
}


/*sessão identidade index*/
.sessaoidentidade{
  margin-top: 6rem;
  margin-bottom: 6rem;
  
}
.card-title{
  font-size: 2rem;
}
.card-text{
  font-size: 1.6rem;
}
/*sessão form*/
.form-label{
  font-size: 2rem;
  color:var(--white-color);
}
.form-control{
  font-size: 1.6rem;
}
.espacoemail{
  height: 4rem;
}
.h2branco{
  color:var(--white-color);
}

.espacoemail2{
  height: 8rem;
}

.btn{
  width: 10rem;
  height: 4rem;
  font-size: 1.6rem;
}
/*sessão rodapé*/
.rodape{
  margin-top: 6rem;
  background-image: url("imagens/rainbow.jpg");
  height: 30rem;
}
.espacorodape{
  margin-top: 6rem;
}

.linksrodape a{
 text-decoration: none;
 color: rgb(2, 2, 2);
 font-size: 1.5rem;
 margin-top: 5px;
}

.titulorodape{
  margin-left:2rem;
}
ul{
  list-style-type: none;
}
.uldorodape {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.lidorodape {
  float: left;
}

.lidorodape a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.lidorodape a:hover {
  background-color: #fafafa;
}
/*FIM DO INDEX*/



/*PÁGINA  SOBRE NOS*/

.sessaobandeira{
  margin-top: 30px;
  background-image: url("imagens/fundoroxo.png");
  height: auto;
  padding-bottom: 8rem;
}

.bandeiralbgt{
  /*Tamanho original da imagem 988x968px divido por 2 x48,4   */
  margin-top: 5rem;
 /* width: 49.4rem;
  height: 48.4rem;*/
  width: 54.8rem;
  height: 53.7rem;
}

.descricaobandeira{
  font-weight: 900;
}
.textobandeira{
  margin-top: 50px;
  margin-right: 3rem;
  
}



/*PÁGINA  INSPIRACAO*/
.espacoinspiracao{
  margin-bottom: 50px; 
}

.espacoinspiracao2{
  padding-bottom: 50px;
  margin-top: 70px;
  padding-top:30px; 
}

.textoinspiracao{
  margin-top: 50px; 
  margin-bottom: 50px;
}

.paragrafoinspiracao{
  width: 69rem;
}


.cardinspiracao{
  border-width: 5px;
  border-color: orange green blue yellow; 
}

.anone{
  text-decoration: none;
}


/*PÁGINA SERVIÇOS*/

.colorbotao1{
  color: white;
  background-color: orange;
  font-size: 1.5rem;
}

.colorbotao2{
  color: white;
  background-color: rgb(46, 219, 46);
  font-size: 1.5rem;
}

.colorbotao3{
  color: white;
  background-color: rgba(62, 210, 230, 0.87);
  font-size: 1.5rem;
}

.servicoespaco{
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.servicoespaco2{
  margin-bottom: 72rem;
}

#menusaude{
  margin-top: 8rem;
  margin-bottom: 15rem;
}
.espacoservico{
  margin-top: 8rem;
  margin-bottom: 4rem;
}

#menusaude ul{
  list-style-type: disc;
  font-size: 1.9rem;
}

.espacoh3{
  margin-bottom: 2rem;
}


.faixadivisoriaservico1{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 10px;
  width: auto;
  background-color: orange;
}

.faixadivisoriaservico2{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 10px;
  width: auto;
  background-color: rgb(46, 219, 46);
}

.faixadivisoriaservico3{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 10px;
  width: auto;
  background-color: rgba(62, 210, 230, 0.87);
}

#centrosacolhimento{
  margin-top: 15rem;
  margin-bottom: 5rem;
}



/*PÁGINA CONCEITOS*/
.cardbandeira{
  width: 30rem;
  margin-bottom: 8rem;
  border-width: 5px;
}

.red{
  color:red;
}
.corborderred{
  border-color: red;
  border-radius: 15px;
}
.orange{
  color: orange;
}
.corborderorange{
  border-color: orange;
  border-radius: 15px;
}

.yellow{
  color: rgb(223, 223, 2);
}
.corborderyellow{
  border-color: rgb(223, 223, 2);
  border-radius: 15px;
}

.green{
  color: green;
}
.corbordergreen{
  border-color: green;
  border-radius: 15px;
}

.blue{
  color: blue;
}
.corborderblue{
  border-color: blue;
  border-radius: 15px;
}

.purple{
  color: purple;
}
.corborderpurple{
  border-color: purple;
  border-radius: 15px;
}

.pink{
  color: rgb(252, 137, 156);
}
.corborderpink{
  border-color: rgb(252, 137, 156);
  border-radius: 15px;
}

.listapais{
  font-size: 1.6rem;
}

.listapais, ul, li{
  list-style:disc;
}





@media only screen and (max-width: 992px) {
.banner{
  display: none;
} 

}

@media only screen and (min-width: 992px) {
  .textobanner{
    display: none;
  }


  }


  @media (max-width: 991.98px) {
    .sessaobandeira{
      margin-top: 30px;
      padding-bottom: 8rem;
    }
    .bandeiralbgt{
      background-image: url("imagens/fundoroxo.png");
      margin-top: 5rem;
      width: 52.8rem;
      height: 51.7rem;
    }
    
    .descricaobandeira{
      font-weight: 900;
      background-image: url("imagens/fundoroxo.png");
    }
   }
